
#content > section {
    padding-left: 165px;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;

    color: white;
}

#sect-intro {
    background: url("../../image/index/section-heegyu.jpg");
}

#sect-travel {
    background: url("../../image/index/section-travel.jpg");
}

#sect-music {
    background: url("../../image/index/section-music.jpg");
}


.outer {
    width: 100%;
    height: 100%;
    display: table;


}

.middle {
    display: table-cell;
    vertical-align: middle;

}

.inner {
    padding: 15px;

    font-size: 32pt;
    text-align: center;

    background: rgba(0,0,0,0.5);
}
