
#nav {
  width: 150px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  box-shadow: 1px 0px 2px #888888;
}

.nav-item {
  cursor: pointer;
  margin-bottom: 20px;
}

.nav-left {
  list-style: none;
  padding: 15px;
  margin: 0;
  display: block;
  text-align: center;
}

.nav-bottom {
  bottom: 0;
}

.nav-contact {
  list-style: none;
  padding: 0;
  display: inline;
  margin: 30px;
  bottom: 100%;
}

.contact-item {
  cursor: pointer;
  display: inline;
  margin: 7px 7px 0 7px;
}
.contact-item img {
  width: 30px;
  height: 30px;
}


.nav-profile {
    font-size: 15pt;
    padding-bottom: 15px;
    border-bottom: 1px black solid;
}

.nav-profile-image {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 15px;
}
